.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: relative;
      left: 41%;
      bottom: -86px;
      display: none;
  }
  .header {
    width: 100%;
    height: 51px;
    background-color: coral;
  }
  .logout{
    left: 88%;
    position: relative;
    bottom: -10px;
  }
  .postalhead{
    margin:10px;
    padding:10px;
  }


  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }